﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <!-- Боковая панель с категориями -->
            <h4>Categories</h4>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Автомобили</a></li>
                <li class="list-group-item"><a href="#">Недвижимость</a></li>
                <li class="list-group-item"><a href="#">Работа</a></li>
                <li class="list-group-item"><a href="#">Электроника</a></li>
                <!-- Другие категории -->
            </ul>
        </div>
        <div class="col-md-9">
            <!-- Поисковая строка -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search for ads...">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>

            <!-- Рекомендуемые объявления -->
            <h4>Featured Ads</h4>
            <div class="row">
                <!-- Пример объявления -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="path_to_image" alt="Ad image">
                        <div class="card-body">
                            <p class="card-text">Описание объявления</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">Цена</small>
                                <small class="text-muted">Дата</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Другие объявления -->
            </div>
        </div>
    </div>
</div>
