﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add User</h1>

<div class="mt-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-controller" />
</div>