﻿@{
    ViewData["Title"] = "Confirm Email";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Email Confirmation</div>
                <div class="card-body">
                    <p>Your email has been successfully confirmed. You can now log in to your account.</p>
                    <a asp-controller="Auth" asp-action="Login" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>