﻿@{
    ViewData["Title"] = "Email Confirmed";
}

<h1>Email Confirmed</h1>

<p>Your email has been confirmed successfully. You can now login to your account.</p>

<div class="text-center">
    <a asp-controller="Auth" asp-action="Login" class="btn btn-primary">Login</a>
</div>
