﻿@model Advert.Web.Models.LoginViewModel

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        <div class="form-group">
                            <label>Email</label>
                            <input asp-for="Email" type="email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input asp-for="Password" type="password" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <a asp-controller="Auth" asp-action="Register">New user? Register here</a>
            </div>
        </div>
    </div>
</div>
